<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--  
    namespace：必须与对应的接口全类名一致  UserMapper.java  
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。  
-->  
<mapper namespace="com.mapper.UserMapper">
<select id="ReadAll" parameterType="java.lang.String" resultType="com.pojo.User">
select * from USERS
</select>

<select id="FindById" parameterType="java.lang.String" resultType="com.pojo.User">
select * from USERS where LoginId=#{id}
</select>

<insert id="Insert" parameterType="com.pojo.User">
insert into USERS(LoginId,LoginPsd) values(#{loginId},#{loginPsd})
</insert>  

<delete id="DeleteById" parameterType="java.lang.String">
delete from USERS where LoginId=#{id}
</delete>

<update id="UpdateById" parameterType="com.pojo.User">
update USERS set LoginId=#{loginId},LoginPsd=#{loginPsd} where LoginId=#{loginId}
</update>
</mapper>